body {
    &.mouse {
        .menu__list > li:hover {
            .sub-menu__list {
                display: block;
            }
        }
        .sub-menu__list > li:hover {
            .sub-sub-menu__list {
                display: block;
            }
        }
    }
    &.touch {
        .arrow {
            display: block;
        }
    }
}

.menu {
    margin: 100px 0px 0px 0px;
    a.parent {
        margin: 0px 20px 0px 0px;
    }
    li {
        position: relative;
        &.with-sub {
            padding: 0px 20px 0px 0px;
            &:hover {
                &:before {
                    content: "";
                    transform: rotate(180deg);
                }
            }
            &:before {
                content: "";
                width: 0;
                height: 0;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-top: 10px solid #000;
                position: absolute;
                right: 0;
                top: 3px;
                z-index: 3;
                transition: all 0.3s;
            }
        }
    }

    &__list {
        display: flex;
        & > li {
            margin: 0px 10px 0px 0px;
        }
    }

    &__link {
    }
    @media (max-width: $md3+px) {
        &__list {
            display: block;
        }
    }
}
.arrow {
    display: none;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #000;
    position: absolute;
    right: 0;
    top: 5px;
    z-index: 3;
    transition: all 0.3s;
    &.active {
        transform: rotate(180deg);
    }
}
.sub-menu {
    &__list {
        position: absolute;
        left: 0;
        top: 100%;
        padding: 5px 0px 0px 0px;
        display: none;
        // border: 1px solid red;
        min-width: 300px;
        &.open {
            display: block;
        }
        & > li {
            background: #fff;
        }
    }

    &__link {
        color: #000;
        display: inline-block;
        padding: 5px 10px;
    }
    @media (max-width: $md3+px) {
        &__list {
            position: static;
            padding: 5px 0px 0px 0px;
        }
    }
}
.sub-sub-menu {
    &__list {
        position: absolute;
        top: 0;
        left: 100%;
        min-width: 300px;
        display: none;
        &.open {
            display: block;
        }
        & > li {
            background: #000;
        }
    }

    &__link {
        color: #fff;
        display: inline-block;
        padding: 5px 10px;
    }
    @media (max-width: $md3+px) {
        &__list {
            position: static;
        }
        &__link {
            padding: 5px 20px;
        }
    }
}
