//====================================================================================================
.header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10;
	transition:background-color  0.3s ease, box-shadow  0.3s ease;

	&.fix{
		position: fixed;
		background-color: #FFFFFF;
		box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.07);
	}
	&__content {
		display: flex;
		align-items: center;
		padding: 16px 36px 16px 54px;
	}
	&__logo{
		margin: 0px 30px 0px 0px;
	}
	&__btns {
		margin: 0px 84px 0px 0px;
	}
	&__menu {
		margin: 0px 67px 0px 0px;
	}
	&__tel{
		font-size: 16px;
		color: var(--dark);
		font-family: var(--fm);
		margin: 0px 15px 0px 0px;
		white-space: nowrap;
		position: relative;
		&:after{
			content:'24/7';
			font-size: 16px;
			color: var(--dark);
			font-family: var(--fm);
			padding: 0px 0px 0px 15px;
			border-left: 1px solid var(--dark);
			margin: 0px 0px 0px 15px;
		}
	}
	
	// @media (max-width: $md3+px) {
	// 	&:before {
	// 		content: "";
	// 		position: fixed;
	// 		height: 60px;
	// 		width: 100%;
	// 		background: #ccc;
	// 		z-index: 3;
	// 	}
	// }
	@media (max-width:1440px){
		&__content{
			padding: 10px 15px;
		}
		&__btns{
			margin: 0px 18px 0px 0px;
		}
		&__menu{
			margin: 0px 24px 0px 0px;
		}
	}
	@media (max-width:$md3+px){
		&__content{
			flex-wrap: wrap;
			justify-content:space-between;
		}
		&__logo{
			flex: 0 0 100%;
			margin: 0px 0px 4px 0px;
			img{
				margin: 0px auto;
			}
		}
		&__tel{
			margin: 0px auto;
		}
	}
	@media (max-width:$md4+px){
		&__content{
			padding: 5px 5px;
			flex-direction: column;
			
		}
		&__tel{
			order: 2;
			margin: 0px 0px 5px 0px;
		}
		&__btns{
			order: 3;
			
		}
	}
}

.header-btns {
	flex:0 0 130px;
	height: 37px;
	background: #FFFFFF;
	border: 2px solid #fff;
	border-radius: 48px;
	display: flex;
	&__btn {
		flex: 1 1 50%;
		text-align: center;
		font-size: 14px;
		border-radius: 34px;
		font-family: var(--fm);
		color: var(--gray);
		&--active{
			background-color: var(--blue);		
			color:#fff;
		}
		&:first-child{
			margin: 0px 10px 0px 0px;

		}
	}

	&__btn--active {
	}
	@media (max-width:$md4+px){
		flex: 1 1 auto;
		width: 120px;
		height: 30px;
		margin: 0px 0px 6px 0px;
	}
}

.menu {
	&__list {
		display: flex;
		align-items: center;
		
	}
	&__item {
		&:not(:last-child){margin: 0px 32px 0px 0px;} 
	}
	&__link {
		display: block;
		padding: 5px 0px;
		color: var(--dark);
		transition: opacity 0.3s ease;
		letter-spacing: 0.2px;
		&:hover{
			color: var(--blue);
		}
		
	}
	@media (max-width: 1280px) {
		position: absolute;
		overflow: auto;
		left: 0;
		top: 0;
		width: 375px;
		height: 100vh;
		background: var(--blue);
		z-index: 2;
		transition: all 0.7s;
		padding: 70px 32px 32px 32px;
		margin: 0;
		transform: translateX(-100%);
		&--active {
			transform: translateX(0%);
		}
		&__list {
			display: block;
			
		}
		&__item{
			&:not(:last-child){margin: 0px 0px 16px 0px;}
		}
		&__link{
			color:#fff;
			font-size: 28px;
		}

	}
	@media (max-width:$md4+px){
		width: 100%;
	}
	
}

//Burger
.burger {
	display: block; 
	position: relative;
	width: 20px;
	height: 12px;
	cursor: pointer;
	z-index: 5;
	margin-left: auto; 
	transform: translateY(-2px);
	&:before,
	&:after {
		content: "";
		position: absolute;
		left: 0px;
		width: 100%;
		height: 3px;
		background-color: var(--dark);
		transition: all 0.3s ease 0s;
		border-radius: 4px;
	}
	&:after {
		top: 0;
	}
	&:before {
		content: "";
		bottom: 0;
	}
	&--active {
		&:before,
		&:after {
			transition-delay: background-color 0.3s;
		
		}
		&:after {
			transform: rotate(45deg);
			top: 50%;
			
		}
		&:before {
			content: "";
			transform: rotate(-45deg);
			bottom: auto;
			top: 50%;
		
		}
	}
	@media (max-width:$md4+px){
		position: absolute;
		right: 10px;
		top: 50%; transform: translateY(-50%);
		&--active{
			
			&:before,
			&:after {				
				background-color: #fff;
			}
		}
		
	}
}
