:root {
    --fl: "TTTravels-Light";
    --fr: "TTTravels-Regular";
    --fm: "TTTravels-Medium";
    --fsb: "TTTravels-DemiBold";
    --fb: "TTTravels-Bold";
    --blue:#5A30F0;
    --gray:#636C81;
    --dark:#404040;
}
